In [183]:
from rpy2 import robjects
import pandas as pd
import numpy as np
import datetime
import yaml
rainfall = pd.read_csv('haiti-data/fromAzman/rainfall.csv', index_col = 0, parse_dates = True)


stream = open('haiti-data/input_parameters.yaml', 'r')
input_parameters = yaml.load(stream)

dept_name = [list(pop.keys())[0] for pop in input_parameters['population']]

# computes precipitation sample
def project_rain(rainfall, tf):
    nd = 14 #days sampled - must be multiple of 7 d
    
    dti = rainfall.iloc[0].name.date()
    dtf = rainfall.iloc[-1].name.date()
    
    rain_prj_index = pd.DatetimeIndex(start =  dtf + datetime.timedelta(1), 
                                      end = tf, freq = 'D')
    rain_prj = np.zeros((rain_prj_index.shape[0], 10))

    # Full years of data available
    years = range(dti.year+1, dtf.year-1)

    # each nd days, assign an al precipitation.
    for i, date in enumerate(pd.date_range(dtf + datetime.timedelta(1), tf, freq = str(nd)+'D')):
        dd = date.day
        if (date.month == 2 and dd == 29):
            dd = 28
        pick = datetime.date(np.random.choice(years), date.month, dd)
        #print(pick, i, rainfall.loc[pd.date_range(pick, pick + datetime.timedelta(nd-1))].values.shape, rain_prj[nd * i: nd * (i+1)].shape)
        rain_prj[nd * i: nd * (i+1)] = rainfall.loc[pd.date_range(pick, pick + datetime.timedelta(nd-1))].values

    rain_prj = pd.DataFrame(rain_prj, index = rain_prj_index, columns = dept_name)
    
    return rain_prj

rain_prj = project_rain(rainfall,tf = datetime.date(2029,12,21))
rain = pd.concat((rainfall, rain_prj))
rain.to_csv('haiti-data/proj/rainfall.csv', index_label = 'date')


def date_R2py(r_datenum):
    r_datenum 
    return datetime.datetime.fromordinal(int(matlab_datenum)) + datetime.timedelta(days=matlab_datenum%1) - datetime.timedelta(days = 366)

In [189]:
r_source = robjects.r['source']
r_source('~/phd/haiti-ocv-pomp/scripts/forecast_haitiOCV.R')

R object with classes: ('list',) mapped to:
<ListVector - Python:0x7f1dbd104648 / R:0x564978494708>
[DataFrame, BoolVector]
R object with classes: ('list',) mapped to:
<ListVector - Python:0x7f1dbd104648 / R:0x564978494708>
[DataFrame, BoolVector]
  visible: <class 'rpy2.robjects.vectors.BoolVector'>
  R object with classes: ('logical',) mapped to:
<BoolVector - Python:0x7f1dbd09fe08 / R:0x56496fc4e9e8>
[       0]

In [200]:
r_source = robjects.r['sim_stochastic_quantiles']

In [201]:
r_source

R object with classes: ('tbl_df', 'tbl', 'data.frame') mapped to:
<DataFrame - Python:0x7f1dbc7e8148 / R:0x564978418368>
[FloatVe..., FloatVe..., FloatVe..., FloatVe..., FloatVe...]
  q05: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x7f1dbcd3a488 / R:0x56497af44c80>
[0.000000, 64.225000, 109.950000, 64.200000, ..., 243.075000, 337.600000, 163.350000, 70.875000]
  mean: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x7f1dbcd3a388 / R:0x56497bb9f760>
[0.200000, 80.200000, 165.200000, 116.000000, ..., 310.800000, 437.800000, 200.300000, 122.500000]
  q50: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x7f1dbcd3ae48 / R:0x564976d41260>
[0.000000, 78.000000, 152.000000, 114.000000, ..., 314.500000, 434.000000, 188.000000, 124.000000]
  q95: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x7f1dbcd3ad88 / R:0x5649769ba790>
[1.550000, 106.850000, 245.750000, 193.325000, ..., 375.550000, 575.525000, 255.550000, 172.725000]
  date: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('Date',) mapped to:
<FloatVector - Python:0x7f1dbcd3a788 / R:0x564975561060>
[16130.000000, 16137.000000, 16144.000000, 16151.000000, ..., 21877.000000, 21884.000000, 21891.000000, 21898.000000]

In [202]:
r_source

R object with classes: ('tbl_df', 'tbl', 'data.frame') mapped to:
<DataFrame - Python:0x7f1dbc7e8148 / R:0x564978418368>
[FloatVe..., FloatVe..., FloatVe..., FloatVe..., FloatVe...]
  q05: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x7f1dbd05ed88 / R:0x56497af44c80>
[0.000000, 64.225000, 109.950000, 64.200000, ..., 243.075000, 337.600000, 163.350000, 70.875000]
  mean: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x7f1dbd05ed48 / R:0x56497bb9f760>
[0.200000, 80.200000, 165.200000, 116.000000, ..., 310.800000, 437.800000, 200.300000, 122.500000]
  q50: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x7f1dbd09f108 / R:0x564976d41260>
[0.000000, 78.000000, 152.000000, 114.000000, ..., 314.500000, 434.000000, 188.000000, 124.000000]
  q95: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x7f1dbd09f888 / R:0x5649769ba790>
[1.550000, 106.850000, 245.750000, 193.325000, ..., 375.550000, 575.525000, 255.550000, 172.725000]
  date: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('Date',) mapped to:
<FloatVector - Python:0x7f1dbd09f348 / R:0x564975561060>
[16130.000000, 16137.000000, 16144.000000, 16151.000000, ..., 21877.000000, 21884.000000, 21891.000000, 21898.000000]

LookupError: 'pwd' not found

In [163]:
d = {'X':'x'}
print('\nyour current', d.keys()[0] ,' skill is:', d[d.keys()[0]])

TypeError: 'dict_keys' object does not support indexing

In [113]:
rain_prj_index

DatetimeIndex(['2018-09-01', '2018-09-02', '2018-09-03', '2018-09-04',
               '2018-09-05', '2018-09-06', '2018-09-07', '2018-09-08',
               '2018-09-09', '2018-09-10',
               ...
               '2040-10-02', '2040-10-03', '2040-10-04', '2040-10-05',
               '2040-10-06', '2040-10-07', '2040-10-08', '2040-10-09',
               '2040-10-10', '2040-10-11'],
              dtype='datetime64[ns]', length=8077, freq='D')