[1] "sdfs"

In [77]:
cases %>% 
  filter(time > t_start & time < (t_end + 0.01))

   date       dep        cases time
1  2015-06-06 Artibonite  26   2015.426
2  2015-06-13 Artibonite  58   2015.446
3  2015-06-20 Artibonite  85   2015.465
4  2015-06-27 Artibonite  65   2015.484
5  2015-07-04 Artibonite  63   2015.503
6  2015-07-11 Artibonite  44   2015.522
7  2015-07-18 Artibonite  37   2015.541
8  2015-07-25 Artibonite  52   2015.561
9  2015-08-01 Artibonite  99   2015.580
10 2015-08-08 Artibonite  58   2015.599
11 2015-08-15 Artibonite  62   2015.618
12 2015-08-22 Artibonite  67   2015.637
13 2015-08-29 Artibonite  81   2015.656
14 2015-09-05 Artibonite  57   2015.676
15 2015-09-12 Artibonite 114   2015.695
16 2015-09-19 Artibonite 169   2015.714
17 2015-09-26 Artibonite 118   2015.733

In [74]:
cases

       date       dep        cases
1      2010-10-23 Artibonite 6234
2      2010-10-30 Artibonite 7603
3      2010-11-6  Artibonite 4835
4      2010-11-13 Artibonite 8589
5      2010-11-20 Artibonite 7097
6      2010-11-27 Artibonite 5025
7      2010-12-4  Artibonite 3763
8      2010-12-11 Artibonite 2451
9      2010-12-18 Artibonite 2429
10     2010-12-25 Artibonite 2583
11     2011-1-1   Artibonite 1963
12     2011-1-8   Artibonite 1832
13     2011-1-15  Artibonite 1711
14     2011-1-22  Artibonite 1647
15     2011-1-29  Artibonite 1422
16     2011-2-5   Artibonite 1323
17     2011-2-12  Artibonite  996
18     2011-2-19  Artibonite  879
19     2011-2-26  Artibonite  809
20     2011-3-5   Artibonite  718
21     2011-3-12  Artibonite  665
22     2011-3-19  Artibonite  526
23     2011-3-26  Artibonite  383
24     2011-4-2   Artibonite  408
25     2011-4-9   Artibonite  450
26     2011-4-16  Artibonite  513
27     2011-4-23  Artibonite  503
28     2011-4-30  Artibonite  550
29     2011-5-7   Artibonite  678
30     2011-5-14  Artibonite  556
<U+22EE> <U+22EE>   <U+22EE>   <U+22EE>
373    2017-12-16 Artibonite 93
374    2017-12-23 Artibonite 61
375    2017-12-30 Artibonite 58
376    2018-1-6   Artibonite 64
377    2018-1-13  Artibonite 27
378    2018-1-20  Artibonite 17
379    2018-2-3   Artibonite 10
380    2018-2-10  Artibonite 29
381    2018-2-17  Artibonite 11
382    2018-2-24  Artibonite 18
383    2018-3-3   Artibonite 12
384    2018-3-10  Artibonite  7
385    2018-3-17  Artibonite  8
386    2018-3-24  Artibonite  7
387    2018-3-31  Artibonite 16
388    2018-4-7   Artibonite 19
389    2018-4-14  Artibonite  7
390    2018-4-21  Artibonite 14
391    2018-4-28  Artibonite 30
392    2018-5-5   Artibonite 39
393    2018-5-12  Artibonite 55
394    2018-5-19  Artibonite 46
395    2018-5-26  Artibonite 67
396    2018-6-2   Artibonite 70
397    2018-6-9   Artibonite 71
398    2018-6-16  Artibonite 51
399    2018-6-23  Artibonite 42
400    2018-6-30  Artibonite 30
401    2018-7-7   Artibonite 18
402    2018-7-14  Artibonite 25

In [41]:
typeof(select(rain, departement)/max_rain)

[1] "list"

In [45]:
rain

       date       Artibonite  time
1      2000-03-01  0.000      2000.163
2      2000-03-02  0.000      2000.166
3      2000-03-03  0.000      2000.168
4      2000-03-04  0.000      2000.171
5      2000-03-05 23.340      2000.174
6      2000-03-06  3.876      2000.177
7      2000-03-07  1.990      2000.179
8      2000-03-08  0.000      2000.182
9      2000-03-09  0.564      2000.185
10     2000-03-10  1.056      2000.188
11     2000-03-11  0.000      2000.190
12     2000-03-12  0.000      2000.193
13     2000-03-13  0.000      2000.196
14     2000-03-14  0.000      2000.198
15     2000-03-15  0.000      2000.201
16     2000-03-16  0.000      2000.204
17     2000-03-17  0.000      2000.207
18     2000-03-18  0.000      2000.209
19     2000-03-19  0.904      2000.212
20     2000-03-20  0.000      2000.215
21     2000-03-21  0.000      2000.218
22     2000-03-22  0.000      2000.220
23     2000-03-23  0.000      2000.223
24     2000-03-24  0.000      2000.226
25     2000-03-25  0.000      2000.229
26     2000-03-26  0.000      2000.231
27     2000-03-27  0.000      2000.234
28     2000-03-28  0.000      2000.237
29     2000-03-29  0.000      2000.240
30     2000-03-30  0.000      2000.242
<U+22EE> <U+22EE>   <U+22EE>    <U+22EE>
6729   2018-08-02 25.44171617 2018.583
6730   2018-08-03  7.80857713 2018.586
6731   2018-08-04  0.02714968 2018.589
6732   2018-08-05 11.27823837 2018.591
6733   2018-08-06 21.64523845 2018.594
6734   2018-08-07 10.80576472 2018.597
6735   2018-08-08  1.72171113 2018.600
6736   2018-08-09  3.18330694 2018.602
6737   2018-08-10 19.42381459 2018.605
6738   2018-08-11  7.95411228 2018.608
6739   2018-08-12 14.46623706 2018.611
6740   2018-08-13  8.02712440 2018.613
6741   2018-08-14  3.81786089 2018.616
6742   2018-08-15  3.37135261 2018.619
6743   2018-08-16  6.02897485 2018.621
6744   2018-08-17 14.73409923 2018.624
6745   2018-08-18 11.11356584 2018.627
6746   2018-08-19  7.53305043 2018.630
6747   2018-08-20  0.44496823 2018.632
6748   2018-08-21  8.75157968 2018.635
6749   2018-08-22  1.29885971 2018.638
6750   2018-08-23  5.07342145 2018.641
6751   2018-08-24  6.48486376 2018.643
6752   2018-08-25 11.26898905 2018.646
6753   2018-08-26 12.02383773 2018.649
6754   2018-08-27  6.18731270 2018.652
6755   2018-08-28 14.55153463 2018.654
6756   2018-08-29 19.50177078 2018.657
6757   2018-08-30 18.32651198 2018.660
6758   2018-08-31 40.97412188 2018.663

In [3]:
rain <- read_csv("haiti-data/fromAzman/rainfall.csv") %>%  select('date', 'Artibonite') %>%
mutate(date = as.Date(date, format = "%Y-%m-%d"),
   time = dateToYears(date))

Parsed with column specification:
cols(
  date = col_date(format = ""),
  Artibonite = col_double(),
  Centre = col_double(),
  Grande_Anse = col_double(),
  Nippes = col_double(),
  Nord = col_double(),
  `Nord-Est` = col_double(),
  `Nord-Ouest` = col_double(),
  Ouest = col_double(),
  Sud = col_double(),
  `Sud-Est` = col_double()
)

In [4]:
max_rain <- rain %>%
#filter(year(date)==2015 & month(date) < 10) %>% 
select(departement) %>% 
max()
rain %<>% mutate(rain_std = select(rain, departement)/max_rain)

ERROR: Error in mutate_impl(.data, dots): Column `rain_std` is of unsupported class data.frame

In [2]:
select(rain, departement)/max_rain

ERROR: Error: Unknown column `Artibonite`

In [25]:
rain

       date       Artibonite  time
1      2000-03-01  0.000      2000.163
2      2000-03-02  0.000      2000.166
3      2000-03-03  0.000      2000.168
4      2000-03-04  0.000      2000.171
5      2000-03-05 23.340      2000.174
6      2000-03-06  3.876      2000.177
7      2000-03-07  1.990      2000.179
8      2000-03-08  0.000      2000.182
9      2000-03-09  0.564      2000.185
10     2000-03-10  1.056      2000.188
11     2000-03-11  0.000      2000.190
12     2000-03-12  0.000      2000.193
13     2000-03-13  0.000      2000.196
14     2000-03-14  0.000      2000.198
15     2000-03-15  0.000      2000.201
16     2000-03-16  0.000      2000.204
17     2000-03-17  0.000      2000.207
18     2000-03-18  0.000      2000.209
19     2000-03-19  0.904      2000.212
20     2000-03-20  0.000      2000.215
21     2000-03-21  0.000      2000.218
22     2000-03-22  0.000      2000.220
23     2000-03-23  0.000      2000.223
24     2000-03-24  0.000      2000.226
25     2000-03-25  0.000      2000.229
26     2000-03-26  0.000      2000.231
27     2000-03-27  0.000      2000.234
28     2000-03-28  0.000      2000.237
29     2000-03-29  0.000      2000.240
30     2000-03-30  0.000      2000.242
<U+22EE> <U+22EE>   <U+22EE>    <U+22EE>
6729   2018-08-02 25.44171617 2018.583
6730   2018-08-03  7.80857713 2018.586
6731   2018-08-04  0.02714968 2018.589
6732   2018-08-05 11.27823837 2018.591
6733   2018-08-06 21.64523845 2018.594
6734   2018-08-07 10.80576472 2018.597
6735   2018-08-08  1.72171113 2018.600
6736   2018-08-09  3.18330694 2018.602
6737   2018-08-10 19.42381459 2018.605
6738   2018-08-11  7.95411228 2018.608
6739   2018-08-12 14.46623706 2018.611
6740   2018-08-13  8.02712440 2018.613
6741   2018-08-14  3.81786089 2018.616
6742   2018-08-15  3.37135261 2018.619
6743   2018-08-16  6.02897485 2018.621
6744   2018-08-17 14.73409923 2018.624
6745   2018-08-18 11.11356584 2018.627
6746   2018-08-19  7.53305043 2018.630
6747   2018-08-20  0.44496823 2018.632
6748   2018-08-21  8.75157968 2018.635
6749   2018-08-22  1.29885971 2018.638
6750   2018-08-23  5.07342145 2018.641
6751   2018-08-24  6.48486376 2018.643
6752   2018-08-25 11.26898905 2018.646
6753   2018-08-26 12.02383773 2018.649
6754   2018-08-27  6.18731270 2018.652
6755   2018-08-28 14.55153463 2018.654
6756   2018-08-29 19.50177078 2018.657
6757   2018-08-30 18.32651198 2018.660
6758   2018-08-31 40.97412188 2018.663